/*main-font-color #757575 */
/*secondary-font-color #212121 */
/*text-hover-color #2196F3 */
/*white-color #FFFFFF */
/*grey-icons #AFB1B8 */
/*big-icons-fill-our-team-fill #F5F4FA */
/*footer-color #2F303A */
/*footer-text-gray rgba(255, 255, 255, 0.6) */
/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/
.hero {
  padding-top: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--text-hover-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}
.hero__text {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}
.section {
  background-color: teal;
  padding-top: 94px;
  padding-bottom: 94px;
}
.addbackground {
  background-color: var(--big-icons-fill-our-team-fill);
}
.our-advantages {
  display: flex;
}
.our-advantages__item {
  margin-right: 30px;
}
.our-advantages__item:last-child {
  margin-right: 0;
}
.our-advantages__item::before {
  display: inline-flex;
  content: "";
  height: 120px;
  width: 270px;
  background-color: var(--big-icons-fill-our-team-fill);
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
}
.our-advantages__item:nth-child(1)::before {
  background-image: url(../images/antenna1.svg);
}
.our-advantages__item:nth-child(2)::before {
  background-image: url(../images/clock1.svg);
}
.our-advantages__item:nth-child(3)::before {
  background-image: url(../images/diagram1.svg);
}
.our-advantages__item:nth-child(4)::before {
  background-image: url(../images/astronaut1.svg);
}
/*.our-advantages__link {
  display: flex;
  height: 120px;
  width: 270px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--big-icons-fill-our-team-fill);
}
.our-advantages__link:hover {
  background-color: var(--text-hover-color);
}
.our-advantages__icon {
}
.our-advantages__icon:hover {
  fill: white;
}*/
.our-advantages__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-advantages__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.section-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  color: var(--secondary-font-color);
  margin-bottom: 50px;
}
.our-activities {
  display: flex;
}
.our-activities__item {
  position: relative;
  margin-right: 30px;
  border-radius: 4px;
}
.our-activities__item:last-child {
  margin-right: 0;
}
.our-activities__images {
  border-radius: 4px;
}
.our-activities__subheadings {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  line-height: 1.14;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.our-activities__link {
  color: var(--white-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team {
  display: flex;
}
.our-team__item {
  margin-right: 30px;
  border-radius: 4px;
  height: 422px;
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.our-team__item:last-child {
  margin-right: 0;
}
.our-team__employee {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-font-color);
  text-align: center;
}
.our-team__employee-position-name {
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.our-team__picture {
  margin-bottom: 30px;
}
.our-team__social-list {
  display: flex;
  justify-content: center;
}
.our-team__social-item {
  display: inline-block;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.our-team__social-item:last-child {
  margin-right: 0;
}
.our-team__social-link {
  display: flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--grey-icons);
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__social-link:hover {
  color: var(--white-color);
  background-color: var(--text-hover-color);
}
.our-team__social-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.our-clients {
  display: flex;
}
.our-clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  height: 90px;
  width: 170px;
}
.our-clients__item:last-child {
  margin-right: 0;
}
.our-clients__link {
  display: inline-flex;
  width: 170px;
  height: 90px;
  color: var(--grey-icons);
  background-color: var(--white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover,
.our-clients__link:focus {
  color: var(--text-hover-color);
  border: 1px solid var(--text-hover-color);
}
.our-clients__svg {
  fill: currentColor;
  width: 55%;
  height: 55%;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__heading {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-font-color);
}
.modal__button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--text-hover-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  outline: none;
}
.modal__button:active {
  box-shadow: none;
}
.modal__button-close {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: url(../images/Close.svg);
  background-repeat: no-repeat;
  background-color: var(--white-color);
  background-position: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
  cursor: pointer;
  background-size: initial;
}
.modal__button-close:hover {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.modal__field {
  position: relative;
  margin-bottom: 28px;
}
.modal__field:nth-child(5) {
  margin-bottom: 0;
}
.modal__label {
  position: absolute;
  left: 42px;
  top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  text-align: left;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field input {
  padding-left: 42px;
  padding-right: 19px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__field textarea {
  padding-top: 12px;
  padding-left: 19px;
  padding-right: 19px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal__comment {
  position: absolute;
  left: 16px;
  top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  text-align: left;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__label {
  color: var(--text-hover-color);
  transform: translate(-26px, -31px);
}
.modal__input:not(:placeholder-shown) + .modal__label {
  color: var(--text-hover-color);
  transform: translate(-26px, -31px);
}
.modal__field textarea:focus + .modal__comment {
  color: var(--text-hover-color);
  transform: translateY(-31px);
}
.modal__field textarea:not(:placeholder-shown) + .modal__comment {
  color: var(--text-hover-color);
  transform: translateY(-31px);
}
.modal__svg {
  position: absolute;
  display: inline-flex;
  left: 19px;
  top: 14px;
  height: 12px;
  width: 13px;
  fill: #2a2a2a;
}
.modal__input:focus ~ .modal__svg {
  fill: var(--text-hover-color);
}
.modal__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}
.modal__field-last {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.modal__customcheckbox {
  width: 14px;
  height: 13px;
  display: inline-block;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
}
.modal__checkbox:checked ~ .modal__customcheckbox {
  background-color: var(--text-hover-color);
  background-image: url(../images/checkbox-checked.svg);
  background-position: center;
  border: none;
}
.modal__link {
  color: var(--text-hover-color);
  text-decoration: underline;
}
