.section-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  color: var(--secondary-font-color);
  margin-bottom: 50px;
}
