.contacts__list {
  display: flex;
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-font-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__list:last-child {
  margin-right: 0;
}
.contacts__button {
  display: flex;
  color: var(--grey-icons);
  background-color: var(--white-color);
  border: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
}
.contacts__list:hover .contacts__button {
  color: var(--text-hover-color);
  cursor: pointer;
}
.contacts__svg {
  display: inline-flex;
  fill: currentColor;
  width: 15px;
  height: 15px;
}
