.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list__items {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__items:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-list__items:nth-child(n + 7) {
  margin-bottom: 0;
}
.portfolio-list__items:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
